regression/*.res
regression/report.html
regression/*/testrender_fb00.pfm
regression/*/testrender_fb00.txt
regression/*/testrender.png
regression/*/reference.pfm
regression/*/reference.txt
regression/*/reference.png
regression/*/??_bsdf*
regression/*/??_ebsdf*
regression/*/??_pdf*
regression/*/??_epdf*
regression/*/*.svg
regression/*/usertime
regression/*/wallclock
regression/*/*log
regression/geo/*
ext/pthread-pool/*.o
ext/pthread-pool/libpthreadpool.a
tools/img/bakesky
tools/img/dbor
tools/img/dbord
tools/img/exr2pfm
tools/img/pfm2exr
tools/img/pfm2fb
tools/img/pfm2hdr
tools/img/pfmdiff
tools/img/ppm2fb
tools/img/*.comp.spv
tools/vol/ovdb2vol
tools/vol/voltest
tools/geo/geo-createuvs
tools/geo/geo-disp
tools/geo/geo-make
tools/geo/geo-subdiv
tools/geo/obj2geo
tools/geo/obj2particles
tools/gradient/poissonsolve
tools/gradient/cgsolve
data/ergb2spec.coeff
data/xyz2spec.coeff
corona
arch
config.mk
./shaders/
